.empathyBar {
    position: fixed;
    bottom: 0;
    height: 45px;
    background: #ddd;
    width: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px;
    z-index: 9999999999;
}
.empathyBar label {
    margin-right: 10px;
}
.colorAlteration {
    position: fixed;
    top: 0;
    left: 0px;
    z-index: -1
}
.slideWindow {
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 999999;
}

div.slideHandle {
    width: 8px;
    height: 100%;
    position: absolute;
    background: #ccc;
    right: 0;
    top: 0;
    cursor: col-resize;
    border: solid 1px rgb(87, 87, 87);
    color: white;
    z-index: 9999999
}